* {
  margin: 0px;
  padding: 0px;
  font-size: 4px;
  box-sizing: border-box; }

header, body, main, footer {
  width: 100%;
  height: 100%; }

header {
  background-image: linear-gradient(to bottom, #b3b7ee, #d8dad3);
  height: 15rem;
  position: sticky;
  top: 0px;
  z-index: 4; }

footer {
  height: 100%;
  background-image: linear-gradient(to top, #b3b7ee, #d8dad3);
  margin-top: 10rem; }

h1 {
  font-size: 10rem;
  font-family: 'Tourney', cursive;
  text-align: center;
  margin: 5rem; }

h2 {
  color: #a50a04;
  font-size: 8rem;
  font-family: 'Archivo', sans-serif; }

h3 {
  font-size: 7rem;
  font-family: 'Archivo', sans-serif;
  text-align: center; }

p {
  font-size: 5rem;
  font-family: 'Archivo', sans-serif; }

a {
  font-size: 4rem;
  font-family: 'Archivo', sans-serif;
  text-decoration: none; }

/* Styles header */
.navegador__opciones {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .navegador__opciones li {
    padding: 2rem;
    z-index: 4;
    top: 2rem; }
    .navegador__opciones li a {
      color: black; }
    .navegador__opciones li a:hover {
      color: white; }

.imagenLogo {
  height: 10rem;
  width: 25rem;
  top: 2rem;
  position: absolute; }

/* Fin de styles header*/
/* Styles footer*/
h5 {
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  margin-top: 2rem; }

.piePagina {
  text-align: center; }

.piePagina__decoracion img {
  height: 18rem;
  width: 40rem;
  margin-top: 6rem; }

.piePagina__decoracion p {
  font-size: 4rem;
  margin-top: 5rem; }

.piePagina__menu ul {
  list-style-type: none; }
  .piePagina__menu ul li a {
    font-size: 3rem;
    color: black; }
  .piePagina__menu ul li a:hover {
    color: white; }

.piePagina__contacto {
  text-align: center; }
  .piePagina__contacto p {
    font-size: 4rem;
    margin-top: 6rem; }
  .piePagina__contacto h5 {
    right: 1rem; }

.logoGmail {
  left: 17rem;
  right: 0px;
  top: 12rem;
  bottom: 0px;
  height: 10rem;
  position: absolute; }

.logoWsp {
  left: 17rem;
  right: 0px;
  top: 24rem;
  bottom: 0px;
  height: 10rem;
  position: absolute; }

/* fin de styles footer */
/*
.navbar-collapse {
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(to bottom, rgb(179, 183, 238), rgb(216, 218, 211));
}

parte bootstrap de nav
*/
.animate__zoomIn {
  height: 125rem;
  width: 100%;
  margin-top: -12rem; }

.presentacionInicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 10rem; }
  .presentacionInicio p {
    text-align: center;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-bottom: 5rem;
    margin-top: 10rem; }
  .presentacionInicio button {
    width: 38rem;
    border: 1px solid transparent;
    border-color: #432858;
    background-color: #d8dad3;
    border-radius: 2rem; }
    .presentacionInicio button a {
      color: #432858; }

.seccionDescripcion {
  line-height: 8rem; }
  .seccionDescripcion ul li {
    font-size: 5rem;
    margin-left: 4rem; }
  .seccionDescripcion p {
    font-size: 6rem; }

.seccionImagen button {
  border-color: #432858;
  background-color: #d8dad3;
  border-radius: 2rem; }
  .seccionImagen button a {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    color: #432858; }

.subNavegador__opciones {
  margin: 5rem;
  padding: 2rem;
  line-height: 6.25rem;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border: 1px solid transparent;
  border-color: #432858;
  background-color: #d8dad3;
  border-radius: 2rem; }
  .subNavegador__opciones li a {
    color: #432858; }
  .subNavegador__opciones li a:hover {
    font-weight: bold;
    color: black;
    font-size: 5rem; }

.carousel-item img {
  width: 200rem;
  height: 150rem; }

.parrafoNosotros__servicios {
  list-style-type: square;
  margin-left: 8rem; }
  .parrafoNosotros__servicios li {
    font-size: 3rem; }
    .parrafoNosotros__servicios li a {
      font-size: 5rem;
      color: #432858; }

.parrafoNosotros {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  line-height: 10rem; }

.metodosPago {
  text-align: center;
  position: relative;
  border-right: black solid 1px;
  background-color: #d8dad3;
  line-height: 15rem; }
  .metodosPago h3 {
    margin: 5rem; }

.metodosPago__opciones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .metodosPago__opciones li {
    font-size: 5rem; }

.metodologiaTrabajo {
  border-left: 1px solid black;
  background-color: #d8dad3;
  line-height: 12rem; }
  .metodologiaTrabajo h3 {
    margin: 5rem; }
  .metodologiaTrabajo ol {
    margin-left: 7rem; }
    .metodologiaTrabajo ol li {
      font-size: 5rem; }

/* imagenes */
.metodosPago__billete {
  height: 12.5rem;
  width: 20rem;
  left: 100rem;
  right: 0px;
  top: 20rem;
  bottom: 0px;
  position: absolute; }

.metodosPago__tarjeta {
  height: 15rem;
  width: 20rem;
  left: 100rem;
  right: 0px;
  top: 34rem;
  bottom: 0px;
  position: absolute; }

.metodosPago__cheque {
  height: 10rem;
  width: 20rem;
  left: 100rem;
  right: 0px;
  top: 52rem;
  bottom: 0px;
  position: absolute; }

.metodosPago__cajero {
  height: 17.5rem;
  width: 22.5rem;
  left: 110rem;
  right: 0px;
  top: 64rem;
  bottom: 0px;
  position: absolute; }

/* fin imagenes */
.formulario {
  font-family: 'Archivo', sans-serif; }
  .formulario fieldset {
    border: 0.75rem solid #432858;
    background-color: #d8dad3;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-top: 0rem; }
    .formulario fieldset legend {
      font-size: 6rem;
      color: #432858; }
  .formulario input {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border: 0.75rem solid #598b6a;
    font-size: 4rem;
    display: block; }
  .formulario label {
    font-size: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0rem;
    margin-top: 0rem; }
  .formulario textarea {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
    border: 0.75rem solid #598b6a;
    font-size: 4rem;
    display: block; }

.consultaEnvLimp {
  margin-left: 14rem; }
  .consultaEnvLimp input {
    margin-left: 0rem;
    margin-right: 6rem;
    margin-bottom: 4rem;
    margin-top: 0rem;
    font-size: 4rem; }

.casillaCheck label {
  font-size: 4rem;
  margin-left: 16rem; }

.casillaCheck input {
  font-size: 4rem;
  margin-left: 4rem; }
