.metodosPago {
    text-align: center;
    position: relative;
    border: 2px solid black;
    line-height: 15rem;
}

h3 {
    margin: 5rem;
}

.metodosPago__opciones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.metodosPago__opciones li {
    font-size: 5rem;
}

.metodologiaTrabajo {
    border: 2px solid black;
    line-height: 12rem;
}

.metodologiaTrabajo ol li {
    font-size: 5rem;
}
.metodologiaTrabajo ol {
    margin-left: 7rem;
}

/* imagenes */

.metodosPago__billete {
    height: 12.5rem;
    width: 20rem;
    position: absolute;
    top: 20rem;
    left: 100rem;
}

.metodosPago__tarjeta {
    height: 15rem;
    width: 20rem;
    position: absolute;
    top: 34rem;
    left: 100rem;
}

.metodosPago__cheque {
    height: 10rem;
    width: 20rem;
    position: absolute;
    top: 52rem;
    left: 100rem;
}

.metodosPago__cajero {
    height: 17.5rem;
    width: 22.5rem;
    position: absolute;
    top: 64rem;
    left: 110rem;
} 

/* fin imagenes */

