$white: white;
$black: black;
$verde: rgb(89, 139, 106);
$violeta: rgb(67, 40, 88);
$celeste: rgb(216, 218, 211);
$bordo: rgb(165, 10, 4);
$header-color: linear-gradient(to bottom, rgb(179, 183, 238), rgb(216, 218, 211));
$footer-color: linear-gradient(to top, rgb(179, 183, 238), rgb(216, 218, 211));