@import "colors";
@import "variables";

fieldset {
    border: 0.75rem solid $formularioBorder-color;
    background-color: rgb(216, 218, 211);
    padding: 2rem;
}

input {
    border: 0.75rem solid $formularioDetalles-color;
    font-size: 3rem;
}

label{
    font-size: 3rem;
}

textarea {
    border: 0.75rem solid $formularioDetalles-color;
    font-size: 3rem;
}



legend {
    font-size: 5rem;
    color: $formularioBorder-color
}

.formulario {
    font-family: 'Archivo', sans-serif;
    line-height: 5rem;
}
