@import "header";
@import "footer";
@import "colors";
@import "variables";

.formulario {
    font-family: 'Archivo', sans-serif;
    
    fieldset    {
        border: 0.75rem solid $violeta;
        background-color: rgb(216, 218, 211);
        padding: 2rem;
        @include marginsXandY (4rem,4rem,4rem,0rem);

        legend  {
            font-size: 6rem;
            color: $violeta
                }
                }  

    input   {
        @include marginsXandY (4rem,4rem,4rem,2rem);
        border: 0.75rem solid $verde;
        font-size: 4rem;
        display: block;
            }
                
    label   {
        font-size: 4rem;
        @include marginsXandY (4rem,4rem,0rem,0rem);
            }
                
    textarea    {
        @include marginsXandY (4rem,4rem,4rem,2rem);
        border: 0.75rem solid $verde;
        font-size: 4rem;
        display: block;
                }
}

.consultaEnvLimp {
    margin-left: 14rem;

    input   {
        @include marginsXandY (-1rem,6rem,4rem,0rem);
        padding: 1rem;
        font-size: 4rem;
            }
}

.casillaCheck {
    
    label   {
        font-size: 4rem;
        margin-left: 16rem;
            }
    input   {
        font-size: 4rem;
        margin-left: 4rem;
            }
}

