@import "colors";
@import "variables";

h5 {
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    margin-top: 2rem;
}

.piePagina {
    text-align: center;
    @include paddingsXandY (0rem,0rem,3rem,3rem);
}

.piePagina__decoracion img {
    @include imageSizes (18rem,40rem);
    margin-top: 6rem;
}

.piePagina__decoracion p {
    font-size: 4rem;
    margin-top: 5rem;

}

.piePagina__menu ul {
    list-style-type: none;

    li a    {
        font-size: 3rem;
        color: $black;
            }

    li a:hover {
                color: $white;
                }
}

.piePagina__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p   {
        font-size: 4rem;
        display: inline;
        }

}


.logoGmail {
    @include imageSizes (10rem,10rem);
    @include marginsXandY (0rem,9rem,1rem,0rem);

}

.logoWsp {
    @include imageSizes (10rem,10rem);
    @include marginsXandY (0rem,2rem,2rem,0rem);
}

@media (max-width:768px) {
    .piePagina__decoracion img {
        margin-top: 0rem;
    }
}