@import "colors";
@import "variables";

* {
    margin: 0px;
    padding: 0px;
    font-size: 4px;
}
header , body , main , footer{
    width: 100%;
    height: 100%;
}

header {
    background-image: $header-color;
    height: 15rem;
    position: sticky;
    top: 0px;
    z-index: 4;
}

footer {
    height: 100%;
    background-image: $footer-color;
} 


h1{
    font-size: 10rem;
    font-family: 'Tourney', cursive;
    text-align: center;
    margin: 5rem;
}

h2 {
    color: rgb(165, 10, 4);
    font-size: 8rem;
    font-family: 'Archivo', sans-serif;
}

h3 {
    font-size: 7rem;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

p {
    font-size: 5rem;
    font-family: 'Archivo', sans-serif;
}
a {
    font-size: 4rem;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
}

/* Styles header */
.navegador__opciones {
    list-style-type: none;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;

    li  {
        padding: 3rem;
        z-index: 4;
        top: 2rem;

        a   {
            color: $black;
            }

        a:hover {
                color: $white;
                }
        }
}



.imagenLogo {
    @include imageSizes (10rem, 25rem);
    top: 2rem;
    position: absolute;
}
/* Fin de styles header*/

/* Styles footer*/
h5 {
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    margin-top: 2rem;
}

.piePagina {
    text-align: center;
}

.piePagina__decoracion img {
    @include imageSizes (18rem,40rem);
    margin-top: 6rem;
}

.piePagina__decoracion p {
    font-size: 4rem;
    margin-top: 5rem;

}

.piePagina__menu ul {
    list-style-type: none;

    li a    {
        font-size: 3rem;
        color: $black;
            }

    li a:hover {
                color: $white;
                }

}

.piePagina__contacto {
    text-align: center;

    p   {
        font-size: 4rem;
        margin-top: 6rem;
        }

    h5  {
            right: 1rem;
        }
}


.logoGmail {
    @include positionXandY (17rem,0px,0px,12rem);
    height: 10rem;
    position: absolute;
}

.logoWsp {
    @include positionXandY (17rem,0px,0px,24rem);
    height: 10rem;
    position: absolute;
}


/*
.navbar-collapse {
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(to bottom, rgb(179, 183, 238), rgb(216, 218, 211));
}

parte bootstrap de nav
*/