@import "colors";
@import "variables";

* {
    margin: 0px;
    padding: 0px;
    font-size: 4px;
    box-sizing: border-box;
}
header , body , main , footer{
    width: 100%;
    height: 100%;
}

header {
    background-image: $header-color;
    height: 15rem;
    position: sticky;
    top: 0px;
    z-index: 4;
}

footer {
    height: 100%;
    background-image: $footer-color;
    margin-top: 10rem;
} 


h1{
    font-size: 10rem;
    font-family: 'Tourney', cursive;
    text-align: center;
    margin: 5rem;
}

h2 {
    color: rgb(165, 10, 4);
    font-size: 8rem;
    font-family: 'Archivo', sans-serif;
}

h3 {
    font-size: 7rem;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

p {
    font-size: 5rem;
    font-family: 'Archivo', sans-serif;
}
a {
    font-size: 4rem;
    font-family: 'Archivo', sans-serif;
    text-decoration: none;
}

/*
.navbar-collapse {
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(to bottom, rgb(179, 183, 238), rgb(216, 218, 211));
}

parte bootstrap de nav
*/