@import "header";
@import "footer";
@import "colors";
@import "variables";

.animate__zoomIn {
    @include imageSizes (125rem,100%);
    margin-top: 2rem;
}

.presentacionInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10rem;

    p   {
        text-align: center;
        @include marginsXandY (10rem,10rem,5rem,10rem)
        }

    button {
        width: 38rem;
        border: 1px solid transparent;
        border-color: $violeta;
        background-color: $celeste;
        border-radius: 2rem;
        
        a   {
            color: $violeta;
            }
            }
}

@media (max-width:768px) {
    .animate__zoomIn {
        @include imageSizes (75rem,100%);
        }
}
