@import "colors";
@import "variables";

.animate__zoomIn {
    @include imageSizes (125rem,100%);
    margin-top: -12rem;
}

.seccionPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10rem;
}

button {
    width: 38rem;
    background-size: cover;
    border: 0.1rem solid;
}