@import "header";
@import "footer";
@import "colors";
@import "variables";

.metodosPago {
    border-right: black solid 1px;
    background-color: $celeste;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;

    h3  {
        margin: 5rem;
        }
    p   {
        display: inline;
        }
}



.metodologiaTrabajo {
    border-left: 1px solid black;
    background-color: $celeste;
    line-height: 12rem;
    h3 {
        margin: 5rem;
    }
    
    ol {
        margin-left: 7rem;

        li  {
            font-size: 5rem;
            }
        }
}

/* imagenes */

.metodosPago__billete {
    @include imageSizes (12.5rem,20rem);
    @include marginsXandY (6rem,0rem,1rem,0rem);
}

.metodosPago__tarjeta {
    @include imageSizes (15rem,20rem);
    @include marginsXandY (9rem,0rem,2rem,0rem);
}

.metodosPago__cheque {
    @include imageSizes (10rem,20rem);
    @include marginsXandY (4rem,0rem,2rem,0rem);
}

.metodosPago__cajero {
    @include imageSizes (17.5rem,22.5rem);
} 

/* fin imagenes */

