@import "colors";
@import "variables";

.metodosPago {
    text-align: center;
    position: relative;
    border-right: black solid 1px;
    background-color: $celeste;
    line-height: 15rem;

    h3  {
        margin: 5rem;
        }
}



.metodosPago__opciones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    li  {
        font-size: 5rem;
        }
}

.metodologiaTrabajo {
    border-left: 1px solid black;
    background-color: $celeste;
    line-height: 12rem;
    h3 {
        margin: 5rem;
    }
    
    ol {
        margin-left: 7rem;

        li  {
            font-size: 5rem;
            }
        }
}

/* imagenes */

.metodosPago__billete {
    @include imageSizes (12.5rem,20rem);
    @include positionXandY (100rem,0px,0px,20rem);
    position: absolute;
}

.metodosPago__tarjeta {
    @include imageSizes (15rem,20rem);
    @include positionXandY (100rem,0px,0px,34rem);
    position: absolute;
}

.metodosPago__cheque {
    @include imageSizes (10rem,20rem);
    @include positionXandY (100rem,0px,0px,52rem);
    position: absolute;
}

.metodosPago__cajero {
    @include imageSizes (17.5rem,22.5rem);
    @include positionXandY (110rem,0px,0px,64rem);
    position: absolute;
} 

/* fin imagenes */

