@import "colors";
@import "variables";


.seccionDescripcion {
    line-height: 8rem;

    ul li {
        font-size: 5rem;
        margin-left: 4rem;
        }
    p {
        font-size: 6rem;
    }
}
.seccionImagen {
    button {
        border-color: $violeta;
        background-color: $celeste;
        border-radius: 2rem;

        a   {
            @include marginsXandY (3rem,3rem,0rem,0rem);
            color: $violeta;
            }
            }
}

