
.subNavegador__opciones {
    margin: 5rem;
    margin-top: 0px;
    line-height: 6.25rem;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    li a:hover  {
        color: $black;
                }
}

.carousel-item img {
    width: 200rem;
    height: 150rem;
}
