@import "header";
@import "footer";
@import "colors";
@import "variables";

.subNavegador__opciones {
    margin: 5rem;
    padding: 2rem;
    line-height: 6.25rem;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 1px solid transparent;
    border-color: $violeta;
    background-color: $celeste;
    border-radius: 2rem;

    li a    {
        color: $violeta
            }
    li a:hover  {
        font-weight: bold;
        color: $black;
        font-size: 5rem;
                }
}

section {
    h2 {
        @include marginsXandY (0rem,0rem,10rem,10rem);
    }
}

.carousel-item img {
    height: 115rem;
    border: black solid 1px;
}

#trabajos1, #trabajos4, #trabajos5, #trabajos8, #trabajos9 {
    background-color: $celeste;
} 

#trabajos1, #trabajos2, #trabajos3, #trabajos4, #trabajos5, #trabajos6, #trabajos7, #trabajos8, #trabajos9, #trabajos10 {
    padding-bottom: 10rem;
    border: solid 1px $violeta;
} 

#trabajos1, #trabajos2 {
    border-top: none;
}

#trabajos9, #trabajos10 {
    border-bottom: none;
}

@media (max-width:768px) {
    #trabajos3, #trabajos7 {
        background-color: $celeste;
    } 

    #trabajos4, #trabajos8 {
        background-color: $white;
    }
}