@mixin imageSizes ($height, $width){
    height: $height;
    width: $width;
}

@mixin positionXandY ($left,$right,$bottom,$top) {
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
}

@mixin marginsXandY ($mLeft,$mRight,$mBottom,$mTop) {
    margin-left: $mLeft;
    margin-right: $mRight;
    margin-bottom: $mBottom;
    margin-top: $mTop;    
}

@mixin paddingsXandY ($pLeft,$pRight,$pBottom,$pTop) {
    padding-left: $pLeft;
    padding-right: $pRight;
    padding-bottom: $pBottom;
    padding-top: $pTop;
}